@import "reset"

/* ----------------------------------- (РќР°С‡Р°Р»Рѕ РџРѕРґРєР»СЋС‡РµРЅРёРµ С€СЂРёС„С‚РѕРІ) ------------------------------------------*/
@font-face 
	font-family: 'CenturyGothic'
	src: url('../fonts/CenturyGothic/CenturyGothic/CenturyGothic.eot')
	src: local('O'), url('../fonts/CenturyGothic/CenturyGothic/CenturyGothic.woff') format('woff'), url('../fonts/CenturyGothic/CenturyGothic/CenturyGothic.ttf') format('truetype')
	font-weight: normal
	font-style: normal

@font-face 
	font-family: 'CenturyGothic-Bold'
	src: url('../fonts/CenturyGothic/CenturyGothicBold/CenturyGothic-Bold.eot')
	src: local('O'), url('../fonts/CenturyGothic/CenturyGothicBold/CenturyGothic-Bold.woff') format('woff'), url('../fonts/CenturyGothic/CenturyGothicBold/CenturyGothic-Bold.ttf') format('truetype'), url('../fonts/CenturyGothic/CenturyGothicBold/CenturyGothic-Bold.svg') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'EskizOneC'
	src: url('../fonts/EskizOneC/EskizOneC.eot')
	src: local('O'), url('../fonts/EskizOneC/EskizOneC.woff') format('woff'), url('../fonts/EskizOneC/EskizOneC.ttf') format('truetype'), url('../fonts/EskizOneC/EskizOneC.svg') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'KabelBookC'
	src: url('../fonts/KabelBook/KabelBookC/KabelBookC.eot')
	src: local('O'), url('../fonts/KabelBook/KabelBookC/KabelBookC.woff') format('woff'), url('../fonts/KabelBook/KabelBookC/KabelBookC.ttf') format('truetype'), url('../fonts/KabelBook/KabelBookC/KabelBookC.svg') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'MyriadPro'
	src: url('../fonts/MyriadPro/MyriadPro/MyriadPro.eot')
	src: local('O'), url('../fonts/MyriadPro/MyriadPro/MyriadPro.woff') format('woff'), url('../fonts/MyriadPro/MyriadPro/MyriadPro.ttf') format('truetype'), url('../fonts/MyriadPro/MyriadPro/MyriadPro.svg') format('svg')
	font-weight: normal
	font-style: normal

@font-face
	font-family: 'J-bien-le-Dimanche'
	src: url('../fonts/J-bien-le-Dimanche/J-bien-le-Dimanche.eot')
	src: local('O'), url('../fonts/J-bien-le-Dimanche/J-bien-le-Dimanche.woff') format('woff'), url('../fonts/J-bien-le-Dimanche/J-bien-le-Dimanche.ttf') format('truetype'), url('../fonts/J-bien-le-Dimanche/J-bien-le-Dimanche.svg') format('svg')
	font-weight: normal
	font-style: normal

/* ----------------------------------- (РєРѕРЅРµС† РџРѕРґРєР»СЋС‡РµРЅРёРµ С€СЂРёС„С‚РѕРІ) ------------------------------------------*/

/* ------------------------------------------ РЅР°С‡Р°Р»Рѕ РєР»Р°СЃСЃС‹ С€СЂРёС„С‚РѕРІ ---------------------------------------- */
.centurygothic-font	
	font-family: CenturyGothic

.kabelbookc-font	
	font-family: KabelBookC

.kabelbookc-font-cur	
	font-family: KabelBookC
	font-style: italic /* РљСѓСЂСЃРёРІРЅРѕРµ РЅР°С‡РµСЂС‚Р°РЅРёРµ */


.eskizonec-font	
	font-family: EskizOneC

.eskizonec-font-cur
	font-family: EskizOneC
	font-style: italic /* РљСѓСЂСЃРёРІРЅРѕРµ РЅР°С‡РµСЂС‚Р°РЅРёРµ */

.myriadpro-font
	font-family: MyriadPro

.jbienledimanche	
	font-family: J-bien-le-Dimanche
/* ------------------------------------------ РєРѕРЅРµС† РєР»Р°СЃСЃС‹ С€СЂРёС„С‚РѕРІ ---------------------------------------- */

.p-less
	padding-left: 0 !important
	padding-right: 0 !important

.header-fluid
	background: white
	height: 140px


.crumbs-fluid
	background: #49C4F1
	color: white
	font-size: 12pt
	line-height: 12pt
	font-family: KabelBookC

.transp-delimer
	background: #fff000
	width: 400px
	height: 300px
	border: 2px solid #000
	display: block
	position: relative
	margin: 0px auto
	line-height: 12px




.dl-main
	font-size: 14pt
	color: black

/*СЂР°РјРєР° РґР»СЏ РјРµРЅСЋ*/
.ramka
	border: 1px dotted #111111

/*РѕС‚СЃС‚СѓРї РІ Р±Р»РѕРєРµ*/
.otstup
	margin-left: 20px

/*РѕС‚СЃС‚СѓРї РІ Р±Р»РѕРєРµ*/
.otstup2
	margin-left: 50px

/*РѕС‚СЃС‚СѓРї РІ Р±Р»РѕРєРµ*/
.otstup-up
	margin-top: 20px

/*РѕС‚СЃС‚СѓРї РІ Р±Р»РѕРєРµ*/
.nootstup-up
	margin-top: 0px

/*РєСЂР°СЃРЅР°СЏ СЃС‚СЂРѕРєР°*/
.redstring
	text-indent: 20px

