<div id="simpleReference" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Заголовок модального окна -->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Роли: </h4>
        <div id="testoutview"></div>                 
            <div class="btn-group btn-group-sm" id="crud-btn">
              <!-- Тут будут расположены кнопки для crud  (crudbtntempl)-->
            </div>  
      </div>
      <!-- Основное содержимое модального окна -->
      <div class="modal-body" id="simpleReferenceGrid" >
                      <!-- Содержание (сетка с данными) -->
      </div>
      <div class="modal-body" id="simpleReferencePaginator" >
                      <!-- Содержание (сетка с данными) -->
      </div>
      <!-- Футер модального окна -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>        
      </div>
    </div>
  </div>
</div>
